/** @format */

/* --------- Mobile first - Mobile and Mid Screens --------- */

@use "settings";
@use "mixins";

/* ------- Components - ------- */

.container-nav {
	@include mixins.container-max;
	padding-block: 0;
	transition: var(--transition-padding);
	@media screen and (width >= settings.$breakpoint-nav-layout-extra-large-screens) {
		/* add padding when nav__ul shows
		on HTML & CSS only larger screens */
		padding-block: var(--padding-block-section-container);
	}
}

.container-nav.js-active {
		padding-block: var(--padding-block-section-container);
}

.nav {
	position: sticky;
	top: 0;
	z-index: 999;
}

.home-button-container {
	display: inline-flex;
}

.nav-button-container {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

.nav-button {
	display: inline-flex;
	background-color: transparent;
	padding: 0;
	border: none;
	text-decoration: none;
	position: relative;
	transition: var(--transition-transform);
}

.nav-button:is(:focus-visible, :hover) {
	margin-block-end: 0.1875em;
	outline-width: var(--outline-width-default);
	outline-offset: var(--outline-offset-s, 0.125em);
	border-radius: var(--border-radius-default, 0.25em);
	transform: var(--transform-nav-item);
}

.nav-button-text {
	width: max-content;
	text-transform: capitalize;
	font-size: var(--font-size-nav-link);
	font-weight: 900;
	position: absolute;
	left: 120%;
	top: 50%;
	translate: 0 -50%;
	opacity: 0;
	transition: var(--transition-opacity);
	@media screen and (width >= settings.$breakpoint-nav-show-text) {
		opacity: 1;
	}
}

.nav__ul {
	text-align: center;
	transition: var(--nav-ul-transition);
	@media screen and (width > settings.$breakpoint-nav-layout-medium-screens) {
		display: block;
		column-width: 18ch;
	}
	@media screen and (width > settings.$breakpoint-nav-layout-larger-screens) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		.main-nav-link {
			margin-block: 0;
		}
	}
}

.nav__ul > li {
	break-inside: avoid;
}

[data-visibility="hidden"] .nav-button-container .menu-x {
	display: none;
}

[data-visibility="hidden"] .nav__ul {
	@include mixins.visibility-hidden;
	margin-block: 0;
}
[data-visibility="hidden"].ignore-data-visibility-on-large-screen .nav__ul {
	@media screen and (width >= settings.$breakpoint-nav-layout-extra-large-screens) {
		/* show on HTML & CSS only larger screens */
		max-height: 100vh;
		visibility: visible;
	}
}

[data-visibility="shown"] .nav__ul {
	max-height: 100vh;
	visibility: visible;
}

[data-visibility="shown"] .nav-button-container .menu-bars {
	display: none;
}

.nav__li {
	list-style: none;
	text-transform: capitalize;
}

.main-nav-link {
	text-decoration: none;
	font-size: var(--font-size-nav-link);
	font-weight: 900;
	border-radius: var(--border-radius-default);
	margin-block: 0.3125em; /* 5px */
	display: inline-block;
	transition: var(--transition-main-nav-link);
	opacity: 0;
	position: relative;
	&::after {
		/* appears on :focus-visible */
		content: "";
		display: block;
		height: 0;
		background-color: currentColor;
		border-radius: var(--border-radius-pill, 0.25em);
		position: absolute;
		bottom: -0.1875em;
		right: 0;
		left: 0;
		transition: var(--transition-height);
	}
}

.main-nav-link:is(:focus-visible, :hover) {
	outline: none;
	transform: var(--transform-nav-item);
	&::after {
		height: 0.1875em; /* 3/16 = 0.1875 */
	}
}

[data-visibility="shown"] .main-nav-link {
	opacity: 1;
}

.nav .main-nav-link {
	@media screen and (width >= settings.$breakpoint-nav-layout-extra-large-screens) {
		opacity: 1;
	}
}

/* --- Header [Profile hero - Contact] --- */

/* Profile hero */

.cv-header-elements-container {
	padding-block-start: var(--space-l-2xl);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0;
	transition: var(--transition-padding);
	@media screen and (width >= settings.$breakpoint-nav-layout-extra-large-screens) {
		/* remove extra padding when nav__ul shows
		on HTML & CSS only larger screens */
		padding-block-start: 0;
	}
}

.cv-header-elements-container.js-active {
		padding-block-start: 0;
}

.cv-header-elements-container > * {
	flex: 1 0 18rem;
}

.profile-hero {
	display: grid;
	place-items: center;
	@media (min-width: settings.$breakpoint-profile-hero-justify-content-end) {
		justify-content: end;
	}
}

.personal-photo {
	width: var(--photo-size-190-300);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(244, 185, 66, 1) 80%
	);
	border-width: 0.5625em; /* 9/16 = .5625 */
	border-style: solid;
	border-color: var(--text-secondary-bg);
	border-radius: var(--border-radius-personal-photo);
	margin-block-end: var(--photo-margin-b-e);
}

.name {
	display: grid;
	justify-items: center;
	font-weight: 900;
	text-align: center;
}

.name::after {
	display: block;
	content: "";
	width: 20%;
	height: 0.1875rem; /* 3px */
	background-color: var(--text-muted-lighter);
	border-radius: var(--border-radius-pill);
	margin-block: var(--space-2xs);
}

.job-target {
	text-transform: uppercase;
	font-weight: 900;
}

/* Contact */

.contact {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: var(--space-xs);
}

.contact-link {
	transition: var(--transition-transform);
	position: relative;

	&::before {
		transition: var(--transition-width);
		content: "";
		display: block;
		width: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -0.5em;
		background-color: currentColor;
		border-radius: var(--border-radius-pill, 50rem);
	}

	&:is(:focus-visible, :hover) {
		outline: none;
		&::before {
			width: 0.15em;
		}
	}
}

.social-links {
	margin-block-start: auto;
}

.social-links__link {
	display: inline-flex;
	transition: var(--transition-transform);
}

.social-links__link:is(:focus-visible, :hover) {
	outline-offset: calc(-1 * var(--outline-offset-l, -0.25em));
	border-radius: var(--border-radius-social-link-icon);
	outline-width: var(--outline-width-default);
	transform: var(--transform-social-link);
}

.nationality {
	margin-block-start: calc(-1 * var(--space-2xs));
}

.contact .nationality__h3 {
	text-transform: uppercase;
	font-size: var(--step-0);
	letter-spacing: 0.125em; /* 2px */
	margin-block-end: 0;
}

/* Technical Skills */

.section-container.technical-skills {
	/* display: grid; on .section-container */
	gap: 0;
}

.skill-or-course {
	@include mixins.text-box;
	margin-block: var(--space-3xs);
	margin-inline: 0.0625em;
}

/* Github Projects */

.github-projects__content-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--space-2xs-ml);
}

.github-projects__screenshot {
	flex: 1 1 18rem;
}

.screenshot {
	width: 100%;
	object-fit: cover;
	border: var(--border-shorthand-screenshot);
	border-radius: var(--border-radius-screenshot);
	margin-block: var(--space-2xs);
	box-shadow: var(--screenshot-boxshadow);
	align-self: start;
}

.github-projects__description-container {
	flex: 2 1 18rem;
}

.github-projects__description-container .webdev-project-link {
	@include mixins.text-box;
	@include mixins.vertically-centered-inline;
	border-width: 0.1875em;
}

.webdev-project-link {
	transition: var(--transition-webdev-project-link);
}

.webdev-project-link + .webdev-project-link {
	margin-inline-start: var(--space-2xs);
}

.webdev-project-link:is(:focus-visible, :hover) {
	outline: none;
	transform: var(--transform-github-link);
}

.webdev-project-link:is(:link, :visited) {
	color: var(--text-bluish-light);
}

.webdev-project-link:is(:link, :visited):is(:focus-visible, :hover) {
	background-color: var(--text-bluish-light);
	color: var(--background-color-main);
}

/* Soft Skills */

.soft-skills {
	display: block;
}

/* Work experience & projects */

.experience__location,
.experience__year {
	@include mixins.vertically-centered-inline;
	font-size: var(--step--1);
	color: var(--text-bluish-muted);
	font-weight: 700;
}

.experience__description {
	color: var(--text-bluish-lighter);
	font-weight: 700;
}

/* Education */

.education {
	gap: 0;
}

.degree-info {
	font-weight: 700;
}
