/** @format */

@use "settings";
@use "mixins";

@media (width >= settings.$breakpoint-larger-screens-page-layout) {
	/* =============== When JS is not available =============== */

	li {
		list-style: disc;
	}

	ul:has(.skill-or-course) {
		display: grid;
	}
	
	li:has(.skill-or-course) {
		display: list-item;
	}
	
	ul .skill-or-course {
		padding: 0;
		border: none;
		display: inline;
		margin: 0;
		// text-decoration: underline;
	}

	.bg-color-secondary li {
		text-decoration: underline;
	}
	/* =============== When JS is active =============== */

	/* ===== General ===== */

	.layout-container-larger-screens h4 {
		color: var(--text-bluish-muted);
	}

	/* ===== Layout / Composition ===== */

	/*
	The following classes are not in the original HTML,
	but will be added for larger screens using JS:
	
	- .layout-container-larger-screens
  - .side-larger-screens
	- .main-larger-screens

	*/

	.layout-container-larger-screens {
		@include mixins.container-max;
		display: grid;
		grid-template-columns: 2fr 5fr;
	}

	.side-larger-screens,
	.main-larger-screens {
		container-type: inline-size;
	}

	.side-larger-screens :not(.contact *):is(a, h3) {
		text-decoration: none;
	}

	.side-larger-screens li {
		text-decoration: underline;
	}

	.side-larger-screens .section-container {
		padding-inline: var(
			--padding-inline-larger-screens-side-section-container
		);
	}

	.main-larger-screens .section-container {
		padding-inline: var(
			--padding-inline-larger-screens-main-section-container
		);
	}

	.main-larger-screens .section-container {
		margin-inline-start: 0;
	}

	.main-larger-screens h3 {
		color: var(--text-bluish-light);
	}

	// .main-larger-screens li::marker {
	// 	color: var(--background-color-secondary);
	// }

	/* ===== Components ===== */

	.layout-container-larger-screens .profile-hero {
		justify-content: center;
	}
}
