/** @format */

// Text presets

// General / body font
@mixin text-preset-1 {
	font-size: var(--font-size-body);
	font-family:
		"Open Sans",
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	line-height: 1.5;
	color: var(--text-primary);
}

@mixin fa-icon-sizing($font-size-var) {
	font-size: var($font-size-var);
	width: var(--fa-icon-size, 1em);
	height: var(--fa-icon-size, 1em);
}

/* Utility styles */

@mixin screen-readers-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@mixin visibility-hidden {
	max-height: 0;
	overflow: hidden;
	visibility: hidden;
}

@mixin vertically-centered-inline {
	display: inline-flex;
	align-items: center;
	gap: 0.25em;
}

@mixin break-word-overflow {
	/* 
	- some browsers don't break links or long words
	 by default 
	- without this, links would overflow in small
	 screen
	*/
	overflow-wrap: anywhere;
}

@mixin text-box {
	padding: 0.5em 1em;
	border: 2px solid currentcolor;
	border-radius: 0.25em;
	min-height: 44px;
	/* min-height in px is the recommended value for accessibility*/
	display: inline-flex;
	align-items: center;
}

@mixin container-max {
	max-width: var(--breakpoint-max-container,1800px);
	margin-inline: auto;
}
