/** @format */

@use "settings";
@use "mixins";

/* ========== States  ========== */

/* ===== General States ===== */

a:is(:link, :visited) {
	color: inherit;
}

a:focus-visible,
button:focus-visible,
.main-nav-link:focus-visible,
.webdev-project-link:focus-visible {
	outline: var(--outline-width-default) solid currentColor;
	outline-offset: var(--outline-offset-default);
	border-radius: var(--border-radius-default);
}

:is(a, [tabindex]):has(h2, h3):focus-visible {
	/* [tabindex] is used to increase specificity 
	because these elements hav both a and tabindex
	and my reset file has a selector with :is(a, [tabindex]) */
	outline: var(--outline-width-default) solid currentColor;
	border-radius: var(--border-radius-default);
	transform: var(--transform-header);
}

/* ===== Component Spesific States ===== */

/* === Nav === */

.nav-button:focus-visible {
	margin-block-end: 0.1875em;
	outline-width: var(--outline-width-default);
	outline-offset: 0.125em;
	border-radius: var(--border-radius-default);
	transform: var(--transform-scale-up);
}

.main-nav-link:focus-visible {
	outline-width: var(--outline-width-default);
	outline-offset: var(--outline-offset-l);
	transform: var(--transform-main-nav-link);
}

.main-nav-link:focus-visible {
	outline-width: var(--outline-width-default);
	outline-offset: var(--outline-offset-l);
	transform: var(--transform-main-nav-link);
}

/* === Contact === */

.social-links__link:focus-visible {
	outline-offset: -0.25em;
	border-radius: var(--border-radius-social-link-icon);
	outline-width: var(--outline-width-default);
	transform: var(--transform-social-link);
}

/* === Github Projects */

.webdev-project-link:focus-visible {
	outline-offset: var(--outline-offset-xs);
	transform: var(--transform-github-link);
}

.webdev-project-link:is(:link, :visited) {
	color: var(--text-bluish-light);
}
