/** @format */

@use "settings";
@use "mixins";
@use "reset";

/* ------- General [Elements] ------- */

body {
	@include mixins.text-preset-1;
}

.h2 {
	color: var(--background-color-secondary);
	text-transform: capitalize;
	border-bottom: 2px solid currentColor;
	margin-block-end: var(--space-2xs);
}

.h3 {
	text-transform: capitalize;
	text-decoration: underline;
	margin-block-start: var(--space-3xs);
}

.h3,
p {
	margin-block-end: var(--space-3xs);
}

a,
p,
li {
	@include mixins.break-word-overflow;
}

a:is(:link, :visited) {
	color: inherit;
}

ul {
	padding-inline-start: 0;
	margin-block: 0;
	margin-block: var(--space-3xs);
	display: grid;
	gap: 0.5em;
}

li {
	list-style: circle;
}

/* ------- Composition ------- */

.page-section {
	/* 
	# fix internal link scroll for fixed nav

	## Detail
	
	Because the nav has position: sticky, 
	clicking internal links for .page-sections
	makes them appear behind the nav rather than
	under it

	to fix this, javascript is also used, 
	but since this is a progressive enhancement
	project I want this to work even without js.

	## IMPORTANT NOTES:
	
	- css only solution would not work if page
	is resized becuause the calculation below
	would be for the initial screen size only

	## Calculation

	- 2 * var(--padding-block-section-container)
	  - 2 * to count for starting and ending padding
	and double margin-block-end of each section
	- var(--font-size-large-icon)
	  - the font-size as part of height calculation
		and is reliable for calculating the 
		height of the nav's svg because it 
		has no borders, margin, or padding
		and line height is removed by 
		giving the parent display:grid.
		- font-size would not be reliable if text was
		present in the nav even if line-height was 1
	 */
	--nav-height: calc(
		2 * var(--padding-block-section-container) + var(--font-size-large-icon)
	);
	scroll-margin-top: var(--nav-height);
}

.section-container {
	padding-block: var(--padding-block-section-container);
	padding-inline: var(--space-l-3xl);
	display: grid;
	gap: var(--space-3xs);
}

.bg-color-secondary .section-container a {
	color: inherit;
}
.section-container a {
	color: var(--text-bluish-lighter);
}

.subsection-description {
	margin-block-start: 0;
	margin-block-end: var(--space-s);
}

/* ------- Components ------- */

/* --- Nav --- */

.nav {
	position: sticky;
	top: 0;
}

.nav-icons-container {
	display: grid;
	justify-self: center;
}

.nav-button {
	display: inline-flex;
	background-color: transparent;
	padding: 0;
	border: none;
}

.container-nav {
	max-width: 1800px;
	margin-inline: auto;
}

.nav__ul {
	text-align: center;
	@media (width > 450px) {
		display: block;
		column-width: 18ch;
	}
	@media (width > 900px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
	// @media (width > 450px) {
	// max-height: 180px;
	// }
	// @media (width > 580px) {
	// 	max-height: 140px;
	// }
	// @media (width > 880px) {
	// 	max-height: 100px;
	// }
	// @media (width > 1240px) {
	// 	max-height: 60px;
	// }
}

.nav__ul > li {
	break-inside: avoid;
}

[data-status="nav-hidden"] .nav-icons-container .menu-x {
	display: none;
}

[data-status="nav-hidden"] .nav__ul {
	@include mixins.screen-readers-only;
}

[data-status="nav-shown"] .nav-icons-container .menu-bars {
	display: none;
}

.nav__li {
	list-style: none;
	text-transform: capitalize;
}

.nav__link {
	text-decoration: none;
	font-size: var(--step-1);
	font-weight: 900;
}

/* --- Header [Profile hero - Contact] --- */

/* Profile hero */

.cv-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0;
}

.cv-header > * {
	flex: 1 0 18rem;
}

.profile-hero {
	display: grid;
	place-items: center;
	@media (min-width: 600px) {
		justify-content: end;
	}
}

.personal-photo {
	width: var(--photo-size-190-300);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(244, 185, 66, 1) 80%
	);
	border-width: 10px;
	border-style: solid;
	border-color: var(--text-secondary-bg);
	border-radius: 50px;
	margin-block-end: var(--photo-margin-b-e);
}

.name {
	display: grid;
	justify-items: center;
	font-weight: 900;
}

.name::after {
	display: block;
	content: "";
	width: 2.5rem;
	height: 0.1875rem; /* 3px */
	background-color: var(--text-muted);
	border-radius: 50rem;
	margin-block: var(--space-2xs);
}

.job-target {
	text-transform: uppercase;
	font-weight: 900;
}

/* Contact */

.contact {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: var(--space-2xs);
}

.contact * {
	margin: 0;
}

.links {
	margin-block-start: auto;
}

.nationality {
	margin-block-start: calc(-1 * var(--space-2xs));
}

.nationality__h3 {
	text-transform: uppercase;
	color: var(--text-muted);
	font-size: var(--step-0);
	letter-spacing: 0.125em; /* 2px */
	margin-block-end: 0;
}

/* Technical Skills */

.section-container.technical-skills {
	/* display: grid; on .section-container */
	gap: 0;
}

.skill {
	@include mixins.text-box;
	display: inline-block;
	margin-block: var(--space-3xs);
	margin-inline: 0.0625em;
}

/* Github Projects */

.github-projects__content-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--space-2xs-l);
}


.github-projects__screenshot {
	flex: 1 1 18rem;
}

.screenshot {
	width: 100%;
	border: var(--screenshot-border);
	border-radius: var(--screenshot-border-radius);
	margin-block: var(--space-2xs);
	box-shadow: var(--screenshot-boxshadow);
	align-self: start;
}

.github-projects__description-container {
	flex: 2 1 18rem;
}

.webdev-project-link {
	@include mixins.text-box;
	@include mixins.vertically-centered-inline;
	color: var(--background-color-secondary);
	border-width: 0.1875em;
}

.webdev-project-link + .webdev-project-link {
	margin-inline-start: var(--space-3xs-2xs);
}

/* Soft Skills */

.soft-skills__li {
	list-style-type: circle;
	text-decoration: underline;
}

/* Work experience & projects */

.experience__location,
.experience__year {
	@include mixins.vertically-centered-inline;
	font-size: var(--step--1);
	color: var(--text-bluish-muted);
	font-weight: 700;
}

.experience__description {
	color: var(--text-bluish-lighter);
	font-weight: 700;
}

/* Education */

.education {
	gap: 0;
}

/* ------- Utilities ------- */

.bg-color-secondary {
	background-color: var(--background-color-secondary);
	color: var(--text-secondary-bg);
}

.bg-color-secondary .h2 {
	color: var(--neutral-medium);
}

.bg-color-secondary .h3 {
	color: var(--muted-line);
}

.work-title {
	color: var(--text-bluish-light);
}

/* 
IMPORTANT: SVG element sizing
April 2026
sizing on browsers is quirky 
for correct representation:
* use only one css class for each element
* font-size must be set
* height and width must be set for the element to appear
	* use 1em so height and width reflect font-size
 */

.fa-icon-nav {
	font-size: 3rem;
	width: var(--fa-icon-size, 1em);
	height: var(--fa-icon-size, 1em);
}

.fa-icon-large {
	font-size: var(--step-6);
	width: var(--fa-icon-size, 1em);
	height: var(--fa-icon-size, 1em);
}

.fa-icon-small {
	font-size: inherit;
	width: var(--fa-icon-size, 1em);
	height: var(--fa-icon-size, 1em);
	margin-block-start: .1em;
}

.section-separator {
	border-bottom: 1px solid var(--background-color-secondary);
	padding-bottom: var(--space-xs);
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-wrap {
	flex-wrap: wrap;
}

.gap-0 {
	gap: 0;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.container-max {
	max-width: 55em; // 1440px
	margin-inline: auto;
}
